@CHARSET "UTF-8";

/* 
 * LdoD Main CSS Styling
 * 
 */
 
 
 
/* === FONT FACE IMPORTS === */

@font-face {
	font-family: 'Gravitas-One';
	src: url('../fonts/gravitas-one/GravitasOne.ttf') format('truetype');
	font-style: normal;
	font-weight: regular;
}

@font-face {
	font-family: 'League-Gothic';
	src: url('../fonts/League-Gothic/LeagueGothic-Regular.otf') format('truetype');
	font-style: normal;
	font-weight: regular;
}

@font-face {
	font-family: 'League-Gothic';
	src: url('../fonts/League-Gothic/LeagueGothic-Italic.otf') format('truetype');
	font-style: italic;
	font-weight: regular;
}

@font-face {
	font-family: 'League-Gothic-Condensed';
	src: url('../fonts/League-Gothic/LeagueGothic-CondensedRegular.otf') format('truetype');
	font-style: normal;
	font-weight: regular;
}

@font-face {
	font-family: 'League-Gothic-Condensed';
	src: url('../fonts/League-Gothic/LeagueGothic-CondensedItalic.otf') format('truetype');
	font-style: italic;
	font-weight: regular;
}

@font-face {
	font-family: 'League-Spartan-Bold';
	src: url('../fonts/league-spartan-master/leaguespartan-bold.eot');
	src: url('../fonts/league-spartan-master/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/league-spartan-master/leaguespartan-bold.woff') format('woff'),
		url('../fonts/league-spartan-master/leaguespartan-bold.ttf') format('truetype'),
		url('../fonts/league-spartan-master/leaguespartan-bold.ttf.otf') format('truetype'),
		url('../fonts/league-spartan-master/leaguespartan-bold.svg#League-Spartan-Bold') format('svg');
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: 'Poller-One';
	src: url('../fonts/Poller_One/PollerOne.ttf') format('truetype');
	font-style: normal;
	font-weight: regular;
}

@font-face {
	font-family: 'Space-Mono';
	src: url('../fonts/Space_Mono/SpaceMono-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: regular;
}

@font-face {
	font-family: 'Space-Mono';
	src: url('../fonts/Space_Mono/SpaceMono-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: 'Space-Mono';
	src: url('../fonts/Space_Mono/SpaceMono-Italic.ttf') format('truetype');
	font-style: italic;
	font-weight: regular;
}

@font-face {
	font-family: 'Space-Mono';
	src: url('../fonts/Space_Mono/SpaceMono-BoldItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: bold;
}

@font-face {
	font-family: 'Ultra';
	src: url('../fonts/Ultra/Ultra.ttf') format('truetype');
	font-style: normal;
	font-weight: regular;
}

@font-face {
	font-family: 'Work-Sans';
	src: url('../fonts/Work_Sans/WorkSans-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: regular;
}

@font-face {
	font-family: 'Work-Sans';
	src: url('../fonts/Work_Sans/WorkSans-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: 'Work-Sans';
	src: url('../fonts/Work_Sans/WorkSans-Thin.ttf') format('truetype');
	font-style: normal;
	font-weight: 100;
}

@font-face {
	font-family: 'Work-Sans';
	src: url('../fonts/Work_Sans/WorkSans-ExtraLight.ttf') format('truetype');
	font-style: normal;
	font-weight: 200;
}

@font-face {
	font-family: 'Work-Sans';
	src: url('../fonts/Work_Sans/WorkSans-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'Work-Sans';
	src: url('../fonts/Work_Sans/WorkSans-Medium.ttf') format('truetype');
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'Work-Sans';
	src: url('../fonts/Work_Sans/WorkSans-SemiBold.ttf') format('truetype');
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: 'Work-Sans';
	src: url('../fonts/Work_Sans/WorkSans-ExtraBold.ttf') format('truetype');
	font-style: normal;
	font-weight: 800;
}

@font-face {
	font-family: 'Work-Sans';
	src: url('../fonts/Work_Sans/WorkSans-Black.ttf') format('truetype');
	font-style: normal;
	font-weight: 900;
}

@font-face {
	font-family: 'Linux-Libertine';
	src: url('../fonts/linux_libertine/LinLibertine_R.ttf') format('truetype');
	font-style: normal;
	font-weight: regular;
}

@font-face {
	font-family: 'Linux-Libertine';
	src: url('../fonts/linux_libertine/LinLibertine_RB.ttf') format('truetype');
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: 'Linux-Libertine';
	src: url('../fonts/linux_libertine/LinLibertine_RI.ttf') format('truetype');
	font-style: italic;
	font-weight: regular;
}

@font-face {
	font-family: 'Linux-Libertine';
	src: url('../fonts/linux_libertine/LinLibertine_RBI.ttf') format('truetype');
	font-style: italic;
	font-weight: bold;
}

@font-face {
	font-family: 'Linux-Libertine';
	src: url('../fonts/linux_libertine/LinLibertine_RZ.ttf') format('truetype');
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: 'Linux-Libertine';
	src: url('../fonts/linux_libertine/LinLibertine_RZI.ttf') format('truetype');
	font-style: italic;
	font-weight: 600;
}



/* === BASE STYLES === */

* ::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: black;
}

* ::selection {
  color: white;
  background: black;
}

.font-didone    { font-family: 'Gravitas-One'; }
.font-condensed { font-family: 'League-Gothic'; }
.font-geometric { font-family: 'League-Spartan-Bold'; }
.font-art-deco  { font-family: 'Poller-One'; }
.font-monospace { font-family: 'Space-Mono'; }
.font-egyptian  { font-family: 'Ultra'; }
.font-grotesque { font-family: 'Work-Sans' }
.font-serif     { font-family: 'Linux-Libertine' }



/* === NAVBAR === */

.navbar-nav-flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.navbar-nav-flex::before,
.navbar-nav-flex::after {
	content: none;
}

.nav > li.nav-lang > a {
	display: inline-block;
}

.ldod-navbar {
	border-top: 10px solid #FC1B27;
	font-family: 'Space-Mono';
	font-weight: bold;
}

.ldod-navbar .container-fluid:first-of-type {
	border-bottom: 1px solid #FC1B27;
}

.ldod-navbar.navbar-default {
	background-color: rgba(255, 255, 255, 0.8);
	border-bottom: none;
}

.ldod-navbar.navbar-default .navbar-brand {
	color: black;
	font-family: 'Work-Sans';
	font-weight: 800;
	padding-top: 20px;
	padding-bottom: 22px;
	height: 62px;
}

.ldod-navbar.navbar-default .navbar-nav>li>a {
	color: black;
}

.ldod-navbar.navbar-default .navbar-nav>li.dropdown.logged-in>a {
	color: #FC1B27;
}

.ldod-navbar.navbar-default .navbar-nav>.open>a {
	background: none;
}

.ldod-navbar.navbar-default .navbar-nav>li>a.active {
	color: #FC1B27;
}

.ldod-navbar.navbar-default .navbar-brand:hover,
.ldod-navbar.navbar-default .navbar-nav>li>a:hover {
	color: #0C4EF6;
}

.ldod-navbar.navbar-default .navbar-brand:focus,
.ldod-navbar.navbar-default .navbar-nav>li>a:focus {
	color: #FC1B27;
}

.ldod-navbar.navbar-default .navbar-toggle:focus,
.ldod-navbar.navbar-default .navbar-toggle:hover {
	background: none;
}

.ldod-navbar.navbar-default .navbar-toggle .icon-bar {
	background-color: black;
}

.ldod-navbar.navbar-default .navbar-toggle:hover .icon-bar {
	background-color: #0C4EF6;
}

.ldod-navbar.navbar-fixed-top .navbar-collapse {
	max-height: -webkit-calc(100vh - 100px);
	max-height: -moz-calc(100vh - 100px);
	max-height: calc(100vh - 100px);
}

.ldod-navbar.navbar-default .navbar-header .navbar-nav>li>a {
	line-height: 32px;
	padding-right: 15px;
}

.ldod-navbar .navbar-header {
	float: none;
}

.ldod-navbar .navbar-brand {
	font-size: 3rem;
}

.ldod-navbar .navbar-toggle {
	border: none;
	margin-top: 13px;
	margin-bottom: 12px;
	margin-right: -10px;
}

.ldod-navbar .navbar-toggle .icon-bar {
	height: 3px;
}

.ldod-navbar .navbar-toggle .icon-bar+.icon-bar {
	margin-top: 5px;
}

.ldod-navbar .navbar-nav {
	text-transform: uppercase;
}

.ldod-navbar .nav > li > a {
	padding-left: 0;
	padding-right: 0;
}

.ldod-navbar .dropdown-menu {
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
	border: none;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
	background: none;
	padding-top: 15px;
	padding-bottom: 15px;
}

.ldod-navbar .dropdown-menu>li>a {
	padding-left: 0;
	padding-right: 0;
	font-weight: inherit;
	color: black;
}

.ldod-navbar .dropdown-menu>li>a:focus,
.ldod-navbar .dropdown-menu>li>a:hover {
	color: inherit;
	background: none;
	color: #0C4EF6;
}

.ldod-navbar .dropdown-menu .dropdown-menu-bg {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 200vw;
	-webkit-transform: translateX(-50%);
	   -moz-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	     -o-transform: translateX(-50%);
	        transform: translateX(-50%);
	background-color: rgba(255, 255, 255, 0.8);
	z-index: -1;
	border-top: 1px dashed #FC1B27;
	border-bottom: 1px solid #FC1B27;
}

.ldod-navbar .navbar-right>li.login .dropdown-menu {
	background-color: white;
	border: 1px solid #FC1B27;
	margin-right: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

/* Navbar Mobile XS Media Query */
@media (max-width:767px) {

	.ldod-navbar .navbar-nav {
		margin-left: 0;
		margin-right: 0;
	}

	.ldod-navbar .navbar-brand {
		padding-left: 0;
	}

	.ldod-navbar .navbar-collapse {
		background-color: white;
		border-bottom: 1px solid #FC1B27;
	}

	.navbar-nav-flex {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		   -moz-box-orient: vertical;
		   -moz-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.ldod-navbar .dropdown-menu {
		padding-top: 0;
		padding-bottom: 0;
	}

	.ldod-navbar .dropdown-menu .divider {
		margin-left: 15px;
		margin-right: 15px;
	}

	.ldod-navbar .dropdown-menu .dropdown-menu-bg {
		display: none;
	}

	.ldod-navbar .navbar-nav .open .dropdown-menu>li>a {
		padding-left: 15px;
	}

	.ldod-navbar.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: black;
	}

	.ldod-navbar.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
	.ldod-navbar.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
		color: #0C4EF6;
	}
}