/** @format */

:host {
	display: block;
	--ldod-primary: #fc1b27;
}

@media (width > 767px) {
	#user-md {
		display: none;
	}
}

div.navbar-border-bottom {
	display: block;
	border-bottom: 1px solid var(--ldod-primary);
	width: 100%;
}

@media (width > 768px) {
	#user-lg,
	#user-lg > li > ul {
		width: 210px;
	}
	#user-lg {
		text-align: end;
	}
}

@media (width < 768px) {
	#user-lg {
		display: none;
	}
}

@media (width < 768px) {
	.navbar-border-bottom-sm {
		display: block;
		width: 100%;
		border-bottom: 1px solid #e7e7e7;
	}
}
