.vscode
yarn.lock
yarn-error.log
package-lock.json
node_modules/
coverage/
build/
dist/
public/
transpiled-src
importmap.json
mfes.json
static/classification-game
static/ldod-visual
static/user
static/home
.env