/** @format */

.d-flex {
	display: flex !important;
}

.toast-container {
	padding: 3rem !important;
	transform: translateX(-50%) !important;
	left: 50% !important;
	top: 0 !important;
	position: fixed !important;
}

.toast {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 400;
	border: 0 !important;
	--bs-toast-max-width: 75vh !important;
}

.btn-close-margin {
	margin: auto !important;
	margin-right: 0.5rem !important;
}
