<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

<!-- 	<appender name="FILE" class="ch.qos.logback.ldod.FileAppender">
		<file>/opt/ldod/log/log.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} - %msg%n
			</pattern>
		</encoder>
	</appender>
 -->
	<logger name="reactor" level="INFO">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name='org.springframework'>
		<level value='INFO' />
	</logger>

	<logger name='pt.ist.fenixframework'>
		<level value='OFF' />
	</logger>

	<logger name="org.springframework.web.filter.CommonsRequestLoggingFilter">
		<level value="DEBUG" />
	</logger>

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>