@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.App {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
p{
  margin: 0;
}