.list-title{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
}

.list-title th{
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    z-index: -1;
}

.tip{
    opacity: 1;
    position: absolute;
    font-size: 10px;
    width: max-content;
    z-index: 2;
    left: 0;
    top: 70px;

}
.tip:hover{
    opacity: 1;
}
.icon{
    width: 20px;
    height: 20px;
    margin: auto;
    display: block;
}
.editionTop{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #333;
    margin: auto;
    width: 1170px;
    text-align: left;
}

@media (max-width: 1200px){
    .editionTop {
        width: 970px;
    }

    
}
@media (max-width: 992px){
    .editionTop {
        width: 750px;
    }

}
@media (max-width: 768px){
    .editionTop {
        width: 90%;
    }

}

.participant{
    color: #337ab7;
}
.participant:hover{
    text-decoration: underline;
}

.usedLink:hover{
    text-decoration: underline;
}

p{
    line-height: 1.42857143;
}

.inter-list-p{
    min-width: max-content;
}
