/** @format */

:host {
	display: block;
	font-family: Work-Sans, sans-serif;
}

.text-center {
	text-align: center;
}

.mb {
	margin-bottom: 20px;
}

a[is='nav-to'] {
	text-decoration: none;
}
a[is='nav-to']:hover {
	text-decoration: underline;
}

span[is='ldod-span-icon'] {
	vertical-align: inherit;
}
