/** @format */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	padding-bottom: 40px;
	margin-left: auto;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

.text-center {
	text-align: center;
}

h3,
h4,
h5 {
	margin-top: 0 !important;
	margin-bottom: 0.5rem !important;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.2;
	color: inherit;
}

h3 {
	font-size: 24px !important;
}

h4 {
	font-size: 18px !important;
}

h5 {
	font-size: 14px !important;
}

.flex-center {
	display: flex;
	justify-content: center;
}

span.icon-flex {
	margin: auto 0;
	margin-left: 8px;
	height: 15px;
	width: 15px;
	cursor: pointer;
}

span.icon-info {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23c6c8ca' d='M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-144c-17.7 0-32-14.3-32-32s14.3-32 32-32s32 14.3 32 32s-14.3 32-32 32z'/%3E%3C/svg%3E")
		no-repeat center;
	background-size: 15px;
}

span.icon-trash {
	margin-top: 3px;
	margin-left: 35%;
	cursor: pointer;
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23dc3545' d='M135.2 17.69C140.6 6.848 151.7 0 163.8 0H284.2C296.3 0 307.4 6.848 312.8 17.69L320 32H416C433.7 32 448 46.33 448 64C448 81.67 433.7 96 416 96H32C14.33 96 0 81.67 0 64C0 46.33 14.33 32 32 32H128L135.2 17.69zM31.1 128H416V448C416 483.3 387.3 512 352 512H95.1C60.65 512 31.1 483.3 31.1 448V128zM111.1 208V432C111.1 440.8 119.2 448 127.1 448C136.8 448 143.1 440.8 143.1 432V208C143.1 199.2 136.8 192 127.1 192C119.2 192 111.1 199.2 111.1 208zM207.1 208V432C207.1 440.8 215.2 448 223.1 448C232.8 448 240 440.8 240 432V208C240 199.2 232.8 192 223.1 192C215.2 192 207.1 199.2 207.1 208zM304 208V432C304 440.8 311.2 448 320 448C328.8 448 336 440.8 336 432V208C336 199.2 328.8 192 320 192C311.2 192 304 199.2 304 208z'/%3E%3C/svg%3E")
		no-repeat center;
	background-size: 15px;
}

.mb-4 {
	margin-bottom: 16px;
}

.mb-5 {
	margin-bottom: 32px;
}

ldod-table#virtual-virtualEditionsTable .table-container {
	border: none !important;
}

table#virtual-virtualEditionsTable {
	border-collapse: collapse !important;
}

table#virtual-virtualEditionsTable th {
	border-top: none !important;
}

table#virtual-manageVeTable th:nth-child(1),
table#virtual-manageVeTable th:nth-child(2),
table#virtual-manageVeTable th:nth-child(3),
table#virtual-manageVeTable th:nth-child(4),
table#virtual-manageVeTable th:nth-child(5) {
	text-align: start;
}

table#virtual-virtualEditionsTable th:nth-child(1),
table#virtual-virtualEditionsTable th:nth-child(2) {
	text-align: start;
}

table#virtual-virtualEditionsTable td:nth-child(3),
table#virtual-virtualEditionsTable td:nth-child(4),
table#virtual-virtualEditionsTable td:nth-child(5),
table#virtual-virtualEditionsTable td:nth-child(6) {
	text-align: center;
}

.center-container {
	display: flex;
	justify-content: center;
}

td:has(.center-container) {
	vertical-align: middle !important;
}

.icon-size {
	margin: 0 !important;
	height: 15px;
	width: 15px;
	cursor: pointer;
}

.btn {
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	max-width: 300px;
}

.btn-sm {
	padding: 0.25rem 0.5rem;
	font-size: 0.875rem;
	border-radius: 0.2rem;
}

.btn-primary {
	color: #fff;
	background-color: #0d6efd;
	border-color: #0d6efd;
}

.btn-primary:hover {
	color: #fff;
	background-color: #0b5ed7;
	border-color: #0a58ca;
}

.btn-secondary {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}

.btn-secondary:hover {
	color: #fff;
	background-color: #5c636a;
	border-color: #565e64;
}

.btn-success {
	color: #fff;
	background-color: #198754;
	border-color: #198754;
}

.btn-success:hover {
	color: #fff;
	background-color: #157347;
	border-color: #146c43;
}

.btn-danger {
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545;
}

.btn-danger:hover {
	color: #fff;
	background-color: #bb2d3b;
	border-color: #b02a37;
}

span.icon {
	float: left;
	margin-top: 3px;
	width: 15px;
	height: 15px;
}

span.icon-plus {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23ffffff' d='M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z'/%3E%3C/svg%3E")
		no-repeat center;
	background-size: 15px;
}

span.icon-minus {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 512'%3E%3Cpath fill='%23dc3545' d='M352 128c0 70.7-57.3 128-128 128s-128-57.3-128-128S153.3 0 224 0s128 57.3 128 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM472 200H616c13.3 0 24 10.7 24 24s-10.7 24-24 24H472c-13.3 0-24-10.7-24-24s10.7-24 24-24z'/%3E%3C/svg%3E")
		no-repeat center;
	background-size: 15px;
}

span.icon-add {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 512'%3E%3Cpath fill='%23198754' d='M352 128c0 70.7-57.3 128-128 128s-128-57.3-128-128S153.3 0 224 0s128 57.3 128 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM504 312V248H440c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V136c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H552v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z'/%3E%3C/svg%3E")
		no-repeat center;
	background-size: 15px;
}

span.icon-edit {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%230d6efd' d='M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.8 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z'/%3E%3C/svg%3E")
		no-repeat center;
	background-size: 15px;
}

span.save-icon {
	margin-right: 8px;
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23fff' d='M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V173.3c0-17-6.7-33.3-18.7-45.3L352 50.7C340 38.7 323.7 32 306.7 32H64zm0 96c0-17.7 14.3-32 32-32H288c17.7 0 32 14.3 32 32v64c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V128zM224 416c-35.3 0-64-28.7-64-64s28.7-64 64-64s64 28.7 64 64s-28.7 64-64 64z'/%3E%3C/svg%3E")
		center no-repeat;
	background-size: 15px;
}

span[data-virtualkey='createVirtualEdition'] {
	margin-left: 10px;
}

.flex-row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.flex-column {
	display: flex;
	justify-content: space-between;
	flex-flow: column;
	margin: 25px 0;
	gap: 25px;
}
input[type='checkbox'] {
	margin-top: 4px;
}

input[type='checkbox'],
.icon {
	cursor: pointer;
}

.actions-containers {
	display: flex;
	justify-content: center;
	column-gap: 8px;
}

input[disabled] {
	cursor: not-allowed;
	background-color: #eee;
	opacity: 1;
}

td[contenteditable='true'] {
	cursor: cell;
}
