@font-face {
	font-family: 'Work-Sans';
	font-style: normal;
	font-weight: '200 800';
	font-display: fallback;
	src: url('/ldod-mfes/style/fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
}
