spring.social.facebook.appId=
spring.social.facebook.appSecret=
spring.social.twitter.appId=
spring.social.twitter.appSecret=
spring.social.linkedin.appId=
spring.social.linkedin.appSecret=
spring.social.google.appId=
spring.social.google.appSecret=

spring.security.jwt.secret=

spring.encryption.password=

registration.confirmation.email.password=