.user-details {
    margin-bottom: 44px;
    padding-top: 80px;
    padding-bottom: 20px;
    margin: 0 auto;
    text-align: center;
}

.user-summary {
    text-align: center;
    padding-top: 20px;
}

@media (min-width: 576px) {
    .user-details {
        text-align: left;
        display: table;
    }

    .user-avatar, .user-summary {
        float: left;
        text-align: left;
    }

    .user-summary {
        padding-top: 0;
        padding-left: 40px;
        width: calc(100% - 120px);
    }
}

.user-summary .full-name {
    font-size: 30px;
    font-weight: 600;
    color: rgba(0,0,0,0.85);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.user-summary .username {
    font-size: 20px;
}

.user-summary .user-joined {
    margin-top: 5px;
}

@media (max-width: 768px) {
    .user-summary .full-name {
        font-size: 24px;
    }
}
