/** @format */

[slot='header-slot'] {
	margin: 0;
}

.text-center {
	text-align: center;
}

span[is='ldod-span-icon'] {
	cursor: pointer;
}

a[is='nav-to']:hover {
	text-decoration: underline !important;
}
.mb-4 {
	margin-bottom: 16px;
}

.mb-5 {
	margin-bottom: 24px;
}
