.clock{ 
    margin-top: -45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;
}

.steps{ 
    display: flex;
    align-items: left;
    justify-content: left;
    margin-top: -15px;
    padding-bottom: 20px;
    margin-left: -15px;
}

.content{
    margin-left: -15px;
}


html{
    height:100%
}

body{
    height:100%;
}

.intro{
    height:100%
}
  
.left{
    display : flex;
    justify-content : center;
    align-items : center;
    height : 100%;
}

.right{
    display : flex;
    justify-content : center;
    align-items : center;
    height : 100%;
}

@media (max-width: 1200px) { 
    .left{
        height:50%
    }
    .right{
        height:50%
    }
}