div-tags{
    font-family: georgia;
    font-size: medium;
    display: inline-block;
    border-style: none;
}

.table{
    margin-left: -15px;
}

.submit{
    margin-right: -25px;
    align-items: center;
    justify-content: center;
}