.next{
    position: relative;
    display: inline-block;
    left: 97%;
}

.start{
    text-decoration: none;
    line-height: 64px;
    font-size: 21px;
    display: inline-block;
    font-family: "Ubuntu";
       
}

.clock{
    display: flex;
    align-items: center;
    justify-content: center 
}

.progress{
    font-size: 21px;
}