.div-votes {
    font-family: georgia;
    font-size: medium;
    display: inline-block;
    margin: 0 10px;
    border-style: none;
}


input { 
    display:none; 
}

:checked + span {
    color: #5cb85c;
}

.title {
    padding-left: 5px;
}

.icon-up {
    padding-left: 10px;
    font-size: 20px;
}

.icon-tags {
    font-size: 30px;
}