.app {
  display: flex;
  flex-direction: column;
  font-family: Consolas, monaco, monospace;
  padding: 20px;
}

.buttonToolbar {
  display: inline-block;
  flex-direction: row;
  margin: 30px auto;
}

.buttoncont{
    margin: 20px auto;
}

Button:not(:last-child){
  margin-right: 20px;
}
