/** @format */

@font-face {
	font-family: 'Work-Sans';
	src: url('./work-sans/WorkSans-ExtraBold.ttf') format('truetype');
	font-style: normal;
	font-weight: 800;
	font-display: swap;
}

@font-face {
	font-family: 'Space-Mono';
	src: url('./space-mono/SpaceMono-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Space-Mono';
	src: url('./space-mono/SpaceMono-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: 'League-Gothic';
	src: url('./league-gothic/LeagueGothic-Regular.otf') format('truetype');
	font-style: normal;
	font-weight: regular;
	font-display: swap;
}

@font-face {
	font-family: 'Ultra';
	src: url('.ultra/Ultra-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: regular;
	font-display: swap;
}

@font-face {
	font-family: 'Space-Mono';
	src: url('.space-mono/SpaceMono-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: regular;
	font-display: swap;
}

@font-face {
	font-family: 'Work-Sans';
	src: url('.work-sans/WorkSans-SemiBold.ttf') format('truetype');
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}
