/** @format */

.nav-link {
	padding-left: 0;
}

.nav-link.dropdown-toggle:focus {
	outline: none;
	background-color: #e7e7e7;
	color: var(--ldod-nav-theme);
}

.dropdown-menu {
	background-color: transparent;
	border: none;
}

.dropdown-item {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
}
@media (width > 768px) {
	div.dropdown-menu-bg {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 200vw;
		transform: translateX(-50%);
		background-color: rgba(255, 255, 255, 0.8);
		z-index: -1;
		border-top: 1px dashed #fc1b27;
		border-bottom: 1px solid #fc1b27;
	}
	.dropdown-item {
		padding: 3px 0px;
	}
}
