/** @format */

:host {
	display: block;
	--ldod-nav-theme: #fc1b27;
}

@media (width > 767px) {
	#user-md {
		display: none;
	}
}

div.navbar-border-bottom {
	display: block;
	border-bottom: 1px solid var(--ldod-nav-theme);
	width: 100%;
}

@media (width < 768px) {
	#user-lg {
		display: none;
	}
}

@media (width < 768px) {
	.navbar-border-bottom-sm {
		display: block;
		width: 100%;
		border-bottom: 1px solid #e7e7e7;
	}
}
