/** @format */

div#shell-loadingOverlay {
	display: inherit;
	transition: opacity 300ms ease-in-out;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1060;
	outline: 0;
}

.lds-dual-ring {
	display: inherit;
	margin-left: 50%;
	margin-top: 40vh;
	width: 64px;
	height: 64px;
	border-radius: 50%;
	border: 6px solid #fff;
	z-index: 1070;
	border-color: #fff transparent #fff transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
