/** @format */

:host {
	display: block;
}
:host:hover {
	opacity: 0.5;
}

div.fixed-scroll-btn {
	position: fixed;
	right: 45px;
	bottom: 45px;
	padding-top: 15px;
	margin-bottom: 0;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

button.scroll-btn {
	display: inline-block;
	width: 56px;
	height: 56px;
	padding: 0;
	border-radius: 50%;
	cursor: pointer;
	border: none;
	background-color: var(--ldod-primary);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12),
		0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
button.scroll-btn:hover {
	background-color: var(--ldod-primary-hover);
}

@media screen and (min-height: 750px) {
	body {
		scroll-snap-type: y mandatory;
		scroll-behavior: smooth;
	}

	div.fixed-scroll-btn {
		opacity: 0;
	}

	:host-context([scrolled]) .fixed-scroll-btn {
		opacity: 1;
	}
}
