/** @format */

.text-center {
	text-align: center;
}

h3,
h4,
h5 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 14px;
	margin-bottom: 10px;
	margin-top: 10px;
}

a,
a[is='nav-to'][to] {
	color: #0c4ef6;
	cursor: pointer;
}

a:hover,
a[is='nav-to'][to]:hover {
	text-decoration: underline;
}

span.icon-flex {
	margin: auto 0;
	margin-left: 8px;
	height: 18px;
	width: 18px;
	cursor: pointer;
}

span.icon {
	float: left;
	margin-top: 3px;
	margin-left: 35%;
	width: 18px;
	height: 18px;
	cursor: pointer;
}

span.icon-info {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23c6c8ca' d='M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-144c-17.7 0-32-14.3-32-32s14.3-32 32-32s32 14.3 32 32s-14.3 32-32 32z'/%3E%3C/svg%3E")
		no-repeat center;
	background-size: 15px;
}

.icon-chevron-right {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='%230d6efd' d='M342.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L274.7 256 105.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z'/%3E%3C/svg%3E")
		no-repeat center;
	background-size: 15px;
}

.icon-chevron-left {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='%230d6efd' d='M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 278.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z'/%3E%3C/svg%3E")
		no-repeat center;
	background-size: 15px;
}

.icon-tag {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M0 80V229.5c0 17 6.7 33.3 18.7 45.3l176 176c25 25 65.5 25 90.5 0L418.7 317.3c25-25 25-65.5 0-90.5l-176-176c-12-12-28.3-18.7-45.3-18.7H48C21.5 32 0 53.5 0 80zm112 96c-17.7 0-32-14.3-32-32s14.3-32 32-32s32 14.3 32 32s-14.3 32-32 32z'/%3E%3C/svg%3E")
		no-repeat center;
	background-size: 13px;
}

.icon-user {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0S96 57.3 96 128s57.3 128 128 128zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z'/%3E%3C/svg%3E")
		no-repeat center;
	background-size: 13px;
}

span.icon-plus {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23ffffff' d='M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z'/%3E%3C/svg%3E")
		no-repeat center;
	background-size: 15px;
}

span.icon-erase {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='%23dc3545' d='M290.7 57.4L57.4 290.7c-25 25-25 65.5 0 90.5l80 80c12 12 28.3 18.7 45.3 18.7H288h9.4H512c17.7 0 32-14.3 32-32s-14.3-32-32-32H387.9L518.6 285.3c25-25 25-65.5 0-90.5L381.3 57.4c-25-25-65.5-25-90.5 0zM297.4 416H288l-105.4 0-80-80L227.3 211.3 364.7 348.7 297.4 416z'/%3E%3C/svg%3E")
		no-repeat center;
	background-size: 15px;
}

td {
	padding: 0;
}

caption {
	padding-top: 8px;
	padding-bottom: 8px;
	color: #777;
	text-align: left;
}

#virtual-transcription.well {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
	box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
	font-family: 'Courier New', Courier, monospace;
}

#virtual-transcription hr {
	box-sizing: content-box;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee;
	height: 0;
}

#virtual-transcription small {
	font-size: 85%;
}

#virtual-transcription p {
	margin: 0 0 10px;
}

@media (min-width: 992px) and (max-width: 1199px) {
	#virtual-transcription .text-md-justify {
		text-align: justify;
	}
}

@media (min-width: 1200px) {
	#virtual-transcription .text-lg-justify {
		text-align: justify;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#virtual-transcription .text-sm-justify {
		text-align: justify;
	}
}

@media (max-width: 767px) {
	#virtual-transcription .text-xs-left {
		text-align: left;
	}
}

#virtual-transcription .text-warning {
	color: #8a6d3b;
}

#virtual-transcription abbr[data-original-title],
#virtual-transcription abbr[title] {
	cursor: help;
	border-bottom: 1px dotted #777;
}

ldod-table#virtual-interTaxonomyTable .table-container {
	border: none !important;
}

table#virtual-interTaxonomyTable {
	border-collapse: collapse !important;
}

table#virtual-interTaxonomyTable th {
	border-top: none !important;
}

table#virtual-intersTaxonomyComparison thead > tr > th {
	text-align: start;
}

#virtual--associate-tag-btn.btn,
#virtual-addFragmentInter.btn {
	display: inline-block;
	font-weight: 400;
	line-height: 1;
	color: #212529;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 0.25rem 0.5rem;
	font-size: 1rem;
	border-radius: 0.2rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	max-width: 300px;
}

#virtual--associate-tag-btn.btn-primary,
#virtual-addFragmentInter.btn-primary {
	color: #fff;
	background-color: #0d6efd;
	border-color: #0d6efd;
}

#virtual--associate-tag-btn.btn-primary:hover,
#virtual-addFragmentInter.btn-primary:hover {
	color: #fff;
	background-color: #0b5ed7;
	border-color: #0a58ca;
}
