@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/*body {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu";
    overflow: hidden;
}*/

/*html, body, {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    font-family: "Ubuntu";
    width: 800px;
    margin: 0 auto;
}*/