* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.text-center {
    text-align: center;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.row:after {
    clear: both;
}

.row:after,
.row:before {
    display: table;
    content: ' ';
}

.col-md-2,
.col-md-4,
.col-md-5,
.col-sm-4 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (max-width: 767px) {
    .row {
        margin-right: 15px;
        margin-left: 15px;
    }
}

@media (min-width: 992px) {
    .col-md-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-md-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-2 {
        width: 16.66666667%;
    }
}

a {
    cursor: pointer;
    color: #337ab7;
    text-decoration: none;
    background-color: transparent;
}

a:focus,
a:hover {
    color: #23527c;
    text-decoration: underline;
}

a:active,
a:hover {
    outline: 0;
}

a:focus,
a:hover {
    color: #23527c;
    text-decoration: underline;
}

a:active,
a:hover {
    outline: 0;
}

.form {
    padding: 16px;
}

.form-control {
    margin-bottom: 12px;
    padding-bottom: 12px;
    position: relative;
}

.form-group {
    margin-bottom: 16px;
}

input[type='text'],
input[type='password'],
input[type='email'] {
    margin: 0;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font: inherit;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

input:focus {
    border-color: #777;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}

.form-control.invalid input {
    border: 1px solid #e74c3c;
}

.form-control.valid input {
    border: 1px solid #28a745;
}

.form-control .icon {
    cursor: pointer;
    width: 16px;
    position: absolute;
    right: 10px;
    bottom: 22px;
}

.form-control .icon-validation {
    width: 16px;
    position: absolute;
    right: -25px;
    bottom: 20px;
    visibility: hidden;
}

.form-control.valid .icon-validation.valid {
    visibility: visible;
}

.form-control.invalid .icon-validation.invalid {
    visibility: visible;
}

.form-control small {
    color: #e74c3c;
    position: absolute;
    bottom: -5px;
    left: 0;
    visibility: hidden;
}

.form-control.invalid small {
    visibility: visible;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

input[type='checkbox'] {
    font: inherit;
    color: inherit;
    margin: 4px 0 0;
    line-height: normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}