.vscode

yarn.lock
package-lock.json

*/public/
*/build/
*/dist/
*/node_modules/

node_modules

shell/client/node_modules/
shell/server/node_modules/

**/node_modules/
server/static/*
server/importmap.json