.activityMenu {
  margin: 0 auto;
  margin-top: 0 auto;
  width: 100%;
  height: 100%;
}

.cardsContainerActivity {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

.cardActivity {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 10px;
  margin: 15px;
  display: flex;
  min-width: 0px;
  /* flex: 0 1 220px; */
  /**/
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 260px;
  font-size: 13px;
}

.cardActivity:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.containerActivity {
  padding: 2px 16px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.welcomeButtonActivity {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  margin-top: auto;
}

.cardsActivityImage {
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.vis-item-content:hover {
  cursor: pointer;
}

.newActRetreatButton {
  font-family: 'Arial';
  margin-top: 5px;
  text-align: right;
}
