.box {
  width: 60%;
  background-color: #fff;
  margin: 0 auto;
  padding: 40px;
  text-align: justify;
  border-radius: 20px;
  box-shadow: 0 10px 70px rgba(0,0,0,0.4);
  margin-bottom: 30px;
  margin-top: -120px;
}
