@font-face {
    font-family: 'League-Gothic-Condensed';
    src: url('./fonts/LeagueGothic-CondensedRegular.otf') format('truetype');
    font-style: normal;
    font-weight: regular;
    font-display: swap;
}

@font-face {
    font-family: 'Work-Sans';
    src: url('./fonts/WorkSans-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: regular;
    font-display: swap;
}

a {
    cursor: pointer;
}


.ldod-default h3 {
    font-family: 'League-Gothic';
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .recom-modal {
        width: 600px;
        margin: 30px auto;
    }
}

@media (min-width: 992px) {
    .recom-modal {
        width: 900px;
    }
}

.ldod-default .reading-container {
    position: relative;
    float: left;
    height: auto;
}

@media (min-width: 768px) {
    .reading-container {
        margin-top: 60px;
        height: 100%;
        min-height: 70vh;
    }
}

.ldod-default .reading__column,
.reading__column--open {
    position: relative;
    height: 8.33333%;
    float: left;
    padding: 5px 0;
    border-top: 2px dotted black;
    text-align: left;
}

@media (max-width: 767px) {
    .ldod-default .reading__column,
    .reading__column--open {
        padding-bottom: 12px;
    }
}

.f--condensed--link {
    color: black;
    text-decoration: underline !important;
    padding: 0px 0px;
}

.ldod-default .reading__column h4 a {
    color: black;
    text-decoration: none;
    padding: 0px 0px;
}

.ldod-default .reading__column h4 a:hover {
    color: #0C4EF6;
}

.ldod-default .reading__column--open h4 a {
    color: #FC1B27;
    text-decoration: none;
}

.ldod-default .reading__column--open h4 a:hover {
    color: #0C4EF6;
}

.ldod-default .reading__column h2 {
    color: black;
    text-decoration: none;
}

.ldod-default .reading__column h2:hover {
    color: #0C4EF6;
}

.ldod-default .reading__column--open h2:hover {
    color: #0C4EF6;
}

.ldod-default .reading__column a {
    color: black;
    text-decoration: none;
}

.ldod-default .reading__column a:hover {
    color: #0C4EF6;
}

@media (min-width: 768px) {
    .ldod-default .reading__column,
    .reading__column--open {
        padding: 0 5px;
        height: 100%;
        border: 0;
        border-left: 2px dotted black;
        text-align: center;
    }
    .recommendation-line {
        border-right: 2px dotted black !important;
    }
}

.ldod-default .reading__column h4,
.reading__column--open h4 {
    display: inline-block;
    margin: 0;
    width: 100%;
    height: auto;
    font-size: 30px;
    font-size: 3rem;
    font-family: "League-Gothic";
    font-weight: regular;
    line-height: 40px;
    line-height: 4rem;
    text-transform: uppercase;
}

.ldod-default .reading__column h4,
.reading__column--open h4 {
    height: 120px;
    font-size: 18px;
    font-size: 1.8rem;
    font-family: "League-Gothic";
    font-weight: regular;
    line-height: 2rem;
}

@media (min-width: 992px) {
    .ldod-default .reading__column h4,
    .reading__column--open h4 {
        font-size: 20px;
        font-size: 2rem;
        font-family: "League-Gothic";
        font-weight: regular;
        line-height: 26.66667px;
        line-height: 2.66667rem;
    }
}

@media (min-width: 1200px) {
    .ldod-default .reading__column h4,
    .reading__column--open h4 {
        font-size: 24px;
        font-size: 2.4rem;
        font-family: "League-Gothic";
        font-weight: regular;
        line-height: 32px;
        line-height: 2.6rem;
    }
}


/*f--condensed*/

.ldod-default .reading__column .f--condensed,
.reading__column--open .f--condensed {
    font-size: 30px;
    font-size: 3rem;
    font-family: "League-Gothic";
    font-weight: regular;
    line-height: 40px;
    line-height: 4rem;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .ldod-default .reading__column .f--condensed,
    .reading__column--open .f--condensed {
        margin-bottom: 0;
        font-size: 12px;
        font-size: 1.2rem;
        font-family: "League-Gothic-Condensed";
        font-weight: regular;
        line-height: 24px;
        line-height: 2.4rem;
    }
}

@media (min-width: 992px) {
    .ldod-default .reading__column .f--condensed,
    .reading__column--open .f--condensed {
        font-size: 20px;
        font-size: 2rem;
        font-family: "League-Gothic-Condensed";
        font-weight: regular;
        line-height: 26.66667px;
        line-height: 2.66667rem;
    }
}

@media (min-width: 1200px) {
    .ldod-default .reading__column .f--condensed,
    .reading__column--open .f--condensed {
        font-size: 2.5rem;
        font-family: "League-Gothic-Condensed";
        font-weight: regular;
        line-height: 32px;
        line-height: 3.2rem;
    }
}

.ldod-default .reading__column .h3-group,
.reading__column--open .h3-group {
    margin-top: 0;
}

@media (max-width: 767px) {
    .ldod-default .reading__column .h3-group h3,
    .reading__column--open .h3-group h3 {
        margin-top: 10px !important;
    }
}

@media (min-width: 768px) {
    .ldod-default .reading__column .h3-group,
    .reading__column--open .h3-group {
        margin-top: -21px;
    }
}

@media (min-width: 992px) {
    .ldod-default .reading__column .h3-group,
    .reading__column--open .h3-group {
        margin-top: -47px;
    }
    .arrows {
        display: flex;
        justify-content: space-around;
    }
}

.ldod-default .reading__column .h3-group div,
.reading__column--open .h3-group div {
    width: 100%;
    display: block;
    position: relative;
}

.ldod-default .reading__column .h3-group h3,
.reading__column--open .h3-group h3 {
    width: 100%;
    margin: 0;
    padding-top: 0;
    font-size: 26px;
    font-size: 2.6rem;
    font-family: "League-Gothic";
    font-weight: regular;
    line-height: 34.66667px;
    line-height: 3.46667rem;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .ldod-default .reading__column .h3-group h3 {
        margin-bottom: -10px;
    }
}

@media (min-width: 768px) {
    .ldod-default .reading__column .h3-group h3,
    .reading__column--open .h3-group h3 {
        font-size: 16px;
        font-size: 1.6rem;
        font-family: "League-Gothic";
        font-weight: regular;
        line-height: 21.33333px;
        line-height: 2.13333rem;
        margin-top: 25px;
    }
}

@media (min-width: 992px) {
    .ldod-default .reading__column .h3-group h3,
    .reading__column--open .h3-group h3 {
        font-size: 20px;
        font-size: 2rem;
        font-family: "League-Gothic";
        font-weight: regular;
        line-height: 26.66667px;
        line-height: 2.66667rem;
        margin-top: 25px;
    }
    .arrows-recom {
        margin-top: 5px !important;
    }
}

@media (min-width: 1200px) {
    .ldod-default .reading__column .h3-group h3,
    .reading__column--open .h3-group h3 {
        font-size: 24px;
        font-size: 2.4rem;
        font-family: "League-Gothic";
        font-weight: regular;
        /*line-height: 32px;*/
        line-height: 1.2rem;
        margin-top: 35px;
    }
}

@media (max-width: 767px) {
    .recom-h2 {
        width: 100% !important;
    }
}

.ldod-default .reading__column h2,
.reading__column--open h2 {
    display: inline-block;
    margin: 0;
    width: auto;
    height: auto;
    font-size: 40px;
    /*font-size: 6rem;*/
    font-family: "Ultra";
    font-weight: regular;
    /*
    line-height: 80px;
    line-height: 8rem; 
    */
}

@media (min-width: 768px) {
    .ldod-default .reading__column h2,
    .reading__column--open h2 {
        padding: 0;
        /*height: 70px;*/
        font-size: 20px;
        font-size: 2rem;
        font-family: "Ultra";
        font-weight: regular;
        line-height: 26.66667px;
        line-height: 2.66667rem;
    }
}

@media (min-width: 992px) {
    .ldod-default .reading__column h2,
    .reading__column--open h2 {
        font-size: 28px;
        font-size: 2.8rem;
        font-family: "Ultra";
        font-weight: regular;
        line-height: 37.33333px;
        line-height: 3.73333rem;
    }
}

@media (min-width: 1200px) {
    .ldod-default .reading__column h2,
    .reading__column--open h2 {
        font-size: 28px;
        /*font-size: 3.4rem;*/
        font-family: "Ultra";
        font-weight: regular;
        line-height: 45.33333px;
        line-height: 4.53333rem;
    }
}

.ldod-default .reading__column>.arrows,
.reading__column--open>.arrows {
    float: right;
    margin-top: -10px;
}

@media (min-width: 768px) {
    .ldod-default .reading__column>.arrows,
    .reading__column--open>.arrows {
        float: none;
        margin-top: 0;
        margin-bottom: 25px;
    }
}

.ldod-default .reading__column img,
.reading__column--open img {
    display: block;
    margin: 0;
    padding: 2px;
    width: 35px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-top: 4px;
}

@media (max-width: 767px) {
    .ldod-default .reading__column img,
    .reading__column--open img {
        width: 35px;
        float: right;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        padding-top: 5px;
    }
}

@media (min-width: 768px) {
    .ldod-default .reading__column img,
    .reading__column--open img {
        display: inline-block;
        padding: 0;
        width: 24px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        margin-top: -8px;
    }
    .reading-grid {
        display: flex;
        width: 100%;
        margin-right: 5px !important;
        margin-left: 5px !important;
        padding-bottom: 50px;
    }
    .block-column {
        display: flex;
        width: 67%!important;
    }
    .reading__column--open {
        width: 12.5%!important;
    }
    .thin-column {
        width: 8.333%!important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .ldod-default .reading__column img,
    .reading__column--open img {
        margin-top: 5px;
    }
    .ldod-default .reading__text {
        padding: 112px 15px 15px !important;
    }
    .ldod-default .reading__text h1 {
        font-size: 3rem !important;
        line-height: 3.5rem !important;
    }
    .ldod-default .reading__column .f--condensed,
    .reading__column--open .f--condensed {
        font-size: 1.6rem !important;
        height: 96px !important;
    }
}

.ldod-default .reading__column--open {
    border: 0;
    border-top: 2px dotted #FC1B27;
}

@media (max-width: 767px) {
    .ldod-default .reading__column--open {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
}

@media (min-width: 768px) {
    .ldod-default .reading__column--open {
        border: 0;
        border-left: 2px dotted #FC1B27;
        padding-right: 5px;
        padding-left: 5px;
    }
}

.ldod-default .reading__column--open h2,
.ldod-default .reading__column--open h4 {
    color: #FC1B27;
}

.ldod-default .reading__text {
    padding: 15px 0;
    height: 100%;
    border: 0;
    border-top: 2px dotted black;
}

@media (min-width: 768px) {
    .ldod-default .reading__text {
        padding: 122px 15px 15px;
        border: 0;
        border-left: 2px dotted gray;
        /*border-right: 2px dotted black;*/
    }
    .reading-book-title {
        padding: 102px 15px 15px !important;
    }
}

.ldod-default .reading__text h1 {
    margin: 0;
    font-size: 35px;
    font-size: 3.5rem;
    font-family: "League-Gothic";
    font-weight: regular;
    line-height: 3.8rem;
    text-transform: uppercase;
}

.ldod-default .reading__text h1 a {
    color: black;
    text-decoration: none;
}

.ldod-default .reading__text h1 a:hover {
    color: #0C4EF6;
}

.ldod-default .reading__text span {
    float: left;
    padding-top: 25px;
    font-size: 16px;
    font-size: 1.6rem;
    font-family: "Work-Sans";
    font-weight: 400;
    line-height: 21.33333px;
    line-height: 2.13333rem;
}

.ldod-default .reading__text {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 24px;
    line-height: 2.4rem;
}

.ldod-default .reading__text .text-lg-justify {
    text-align: left !important;
}

.ldod-default .reading__text p {
    float: left;
    margin: 0;
    padding-top: 25px;
    font-size: 18px;
    font-size: 1.8rem;
    font-family: "Work-Sans";
    font-weight: 400;
    line-height: 24px;
    line-height: 2.4rem;
}

@media (min-width: 768px) {
    .ldod-default .reading__text p {
        font-size: 16px;
        font-size: 1.6rem;
        font-family: "Work-Sans";
        font-weight: 400;
        line-height: 21.33333px;
        line-height: 2.13333rem;
    }
    .ldod-default .reading__text {
        font-size: 16px;
        font-size: 1.6rem;
        line-height: 21.333px;
        line-height: 2.1333rem;
    }
}

@media (min-width: 992px) {
    .ldod-default .reading__text p {
        font-size: 18px;
        font-size: 1.8rem;
        font-family: "Work-Sans";
        font-weight: 400;
        line-height: 24px;
        line-height: 2.4rem;
    }
    .ldod-default .reading__text {
        font-size: 18px;
        font-size: 1.8rem;
        line-height: 24px;
        line-height: 2.4rem;
    }
}

@media (max-width: 530px) {
    .ldod-default .reading__text p {
        font-size: 1.6rem;
        font-family: "Work-Sans";
        font-weight: 400;
        line-height: 20px;
        line-height: 2.1rem;
    }
    .ldod-default .reading__text {
        font-size: 15px;
        font-size: 1.5rem;
        line-height: 20px;
        line-height: 2rem;
    }
}


/* mobile */

@media (max-width: 767px) {
    .container .row:first-child {
        margin-left: 15px;
        margin-right: 15px;
    }
    .ldod-default .reading__column h4 {
        height: 30px;
        margin-right: -50px;
        font-size: 2.75rem;
        padding-top: 15px;
    }
    .ldod-default .reading__column--open h4 {
        font-size: 2.75rem;
        padding-top: 4px;
        height: auto;
    }
    .ldod-default .reading__column .f--condensed {
        font-size: 2.75rem;
        padding-top: 8px;
    }
    .ldod-default .reading__column img {
        transform: rotate(0deg);
        float: right;
    }
    .recommendation-line {
        border-right: 0px;
    }
}

.text-center em {
    display: inline-block;
}

@media (max-width: 767px) {
    .ldod-default .reading-book-title {
        border-top: 0px;
    }
}

.intro-editions {
    padding-right: 0px !important;
    padding-left: 0px !important;
}


/*color:#0C4EF6 !important;*/

.ldod-about {
    font-family: 'Work-Sans';
    font-size: 15px;
}

.ldod-about a {
    color: #0C4EF6;
}

.ldod-about a:hover {
    color: #0C4EF6;
}

.ldod-about.semibold {
    font-weight: 500;
}

.ldod-about h5 {
    font-size: 18px;
    font-weight: 600;
    padding-top: 15px;
}

@media (max-width: 767px) {
    .col-md-8.ldod-about {
        padding-right: 0;
        padding-left: 0;
    }
    .col-md-8 .ldod-about {
        padding-right: 0;
        padding-left: 0;
    }
    .search-simple .form-control {
        margin-bottom: 15px;
    }
    .container.search-simple {
        padding-right: 0px;
        padding-left: 0px;
    }
    .search-simple #searchresult {
        padding-right: 15px;
        padding-left: 15px;
    }
}

hr.ldod-about {
    margin-bottom: 10px;
    margin-top: 10px;
    border-top: 2px solid #0C4EF6 !important;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#fragment a {
    color: #0C4EF6;
}

.ldod-default .reading__column .glyphicon {
    color: lightgray;
}

.ldod-default .reading__column .glyphicon:hover {
    color: #0C4EF6;
}

#fragment .glyphicon-info-sign {
    color: lightgray;
}

#fragment .glyphicon-info-sign:hover {
    color: #0C4EF6;
}

.glyphicon-info-sign:hover {
    color: #0C4EF6;
}

.ldod-default .reading__text .text-lg-justify {
    text-align: left !important;
}

.ldod-default .reading__text p {
    float: left;
    margin: 0;
    padding-top: 25px;
    font-size: 18px;
    font-size: 1.8rem;
    font-family: "Work-Sans";
    font-weight: 400;
    line-height: 24px;
    line-height: 2.4rem;
}

@media (min-width: 768px) {
    .ldod-default .reading__text p {
        font-size: 16px;
        font-size: 1.6rem;
        font-family: "Work-Sans";
        font-weight: 400;
        line-height: 21.33333px;
        line-height: 2.13333rem;
    }
    .ldod-default .reading__text {
        font-size: 16px;
        font-size: 1.6rem;
        line-height: 21.333px;
        line-height: 2.1333rem;
    }
}

@media (min-width: 992px) {
    .ldod-default .reading__text p {
        font-size: 18px;
        font-size: 1.8rem;
        font-family: "Work-Sans";
        font-weight: 400;
        line-height: 24px;
        line-height: 2.4rem;
    }
    .ldod-default .reading__text {
        font-size: 18px;
        font-size: 1.8rem;
        line-height: 24px;
        line-height: 2.4rem;
    }
}

@media (max-width: 530px) {
    .ldod-default .reading__text p {
        font-size: 1.6rem;
        font-family: "Work-Sans";
        font-weight: 400;
        line-height: 20px;
        line-height: 2.1rem;
    }
    .ldod-default .reading__text {
        font-size: 15px;
        font-size: 1.5rem;
        line-height: 20px;
        line-height: 2rem;
    }
}


/* mobile */

@media (max-width: 767px) {
    .container .row:first-child {
        margin-left: 15px;
        margin-right: 15px;
    }
    .ldod-default .reading__column h4 {
        height: 30px;
        margin-right: -50px;
        font-size: 2.75rem;
        padding-top: 15px;
    }
    .ldod-default .reading__column--open h4 {
        font-size: 2.75rem;
        padding-top: 4px;
        height: auto;
    }
}

.info-tooltip {
    margin-top: 3px!important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important;
    opacity: 1!important;
    border: 1px solid rgba(0, 0, 0, .2)!important;
    border-radius: 6px!important;
    max-width: 300px!important;
    text-align: start;
    line-height: 1.4!important;
    font-size: 14px!important;
    font-weight: 400;
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%)!important;
    text-transform: none!important;
}