<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>LdoDService</servlet-name>
    <servlet-class>pt.ist.socialsoftware.edition.presentation.server.LdoDServiceImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>LdoDService</servlet-name>
    <url-pattern>/edition/service</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
